
/*======== END btn ==========*/
.btn {
  background-color: transparent;
  border-radius: var(--border-rad);
  padding: 12px 35px;
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  border: none;


  &.shadow {
    box-shadow: 0px 10px 20px rgba(7, 180, 116, 0.16);
  }

  &--primary {
    background-color: var(--primary);
    color: #fff;
    transition: background .3s ease-in-out, color .4s ease-in-out;

    &:hover {
      background-color: var(--dark);
      color: #fff;
    }
  }

  &--light {
    background-color: var(--primary-light);
    color: #363D4D;
    transition: background .3s ease-in-out, color .4s ease-in-out;

    &:hover {
      background-color: var(--primary);
      color: #fff;
    }
  }
}
/*======== START btn ==========*/
