/*======== START header ==========*/
.header {
  padding: 50px 0;
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      justify-content: space-between;
    }
  }
}

.brand {
  width: 100%;
  text-align: center;
  cursor: pointer;

  img {
    max-width: 110px;
  }

  @media screen and (min-width: 768px) {
    width: auto;
    text-align: left;
  }
}
/*======== END header ==========*/
