#form-progress {
  position: relative;
  width: 300px;
  height: 30px;
  background: var(--primary-light);
  border: 1px solid var(--primary-light);
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 45px;

  .bar {
    position: relative;
    background: var(--primary);
    border-radius: 19px;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: var(--progress-bar-width);
    color: #fff;
    transition: width .3s ease-out;
  }
}

@media screen and (min-width: 768px) {
  #form-progress {
    margin-top: 0;
  }
}
