@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Regular.eot');
    src: local('Graphik Regular'), local('Graphik-Regular'),
    url('../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Regular.woff2') format('woff2'),
    url('../fonts/Graphik-Regular.woff') format('woff'),
    url('../fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Medium.eot');
    src: local('Graphik Medium'), local('Graphik-Medium'),
    url('../fonts/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Medium.woff2') format('woff2'),
    url('../fonts/Graphik-Medium.woff') format('woff'),
    url('../fonts/Graphik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/Graphik-Bold.eot');
    src: local('Graphik Bold'), local('Graphik-Bold'),
    url('../fonts/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Graphik-Bold.woff2') format('woff2'),
    url('../fonts/Graphik-Bold.woff') format('woff'),
    url('../fonts/Graphik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
