/*======== START helpers ==========*/
a {
  color: var(--link);
  text-decoration: none;
}
.highlight {
  color: var(--primary);
}
.text-light {
  color: var(--white);
}

/*======== END helpers ==========*/
