body {
  font-family: var(--h-font);
  font-weight: 500;
}


.font-alt {
  font-family: var(--b-font);
  font-weight: normal;
}

/*======== START headings ==========*/
.title-big {
  font-size: 30px;
  line-height: 46px;
  font-weight: bold;
}

.para {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
}
