// color variables
:root {
  --primary: #07B474;
  --dark: #181825;
  --white: #fff;
  --link: #181825;

  --h-font: 'GT Walsheim Pro', sans-serif;
  // --b-font: 'Circular Std', sans-serif;
  --b-font: 'Circular Std Book', sans-serif;

  --border-rad: 10px;
}