// color variables
:root {
  --primary: #FBB817;
  --primary-light: rgba(251,184,23, 0.1);
  --dark: #181825;
  --white: #fff;
  --link: #181825;
  --text: #212529;
  --green: #07B474;

  --h-font: 'Graphik', sans-serif;
  --b-font: 'Graphik', sans-serif;

  --border-rad: 50px;
  --progress-bar-width: 20%;
}

.theme-green {
  --primary: #07B474;
  --primary-light: rgba(7, 180, 116, 0.32);
}

.theme-blue {
  --primary: #06b2ff;
  --primary-light: rgba(6, 178, 255, 0.27);
}
